
.vs/Football Manager/DesignTimeBuild/.dtbcache
.vs/Football Manager/v15/.suo
.vs/Football Manager/v15/Server/sqlite3/db.lock
.vs/Football Manager/v15/Server/sqlite3/storage.ide
.vs/Football Manager/v15/Server/sqlite3/storage.ide-shm
.vs/Football Manager/v15/Server/sqlite3/storage.ide-wal
Temp/
Library/
Packages/
obj/
Temp/
Library/
